<app-navbar-employee></app-navbar-employee>
<app-aside-employee></app-aside-employee>

<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p></p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-header">
                        <span><i class="bi bi-table me-2"></i></span> Productos
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                            <table id="example" class="table table-striped data-table" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>ID Producto</th>
                                        <th>Categoría</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Stock</th>
                                        <th>Disponibilidad</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listProducts">
                                        <td>{{item.idProduct}}</td>
                                        <td>{{item.idCatBelong}}</td>
                                        <td>{{item.productName}}</td>
                                        <td>${{item.productPrice}}</td>
                                        <td>{{item.stock}}</td>
                                        <td>{{item.available}}</td>
                                        <td>
                                            <button (click)="editProduct('ProductEditModal', item)" (keydown)="onKeyDown($event)" tabindex="0" type="button" style="margin-right: 10px;" class="btn btn-primary">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button (click)="deleteProduct(item.idProduct)" (keydown)="onKeyDown($event)" tabindex="0" type="button" style="margin-left: 10px;" class="btn btn-danger">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
