<div class="modal custom-modal" tabindex="-1" id="userModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar usuarios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal('userModal')"></button>
            </div>
            <form [formGroup]="formAddUser" (ngSubmit)="addUser('userModal')">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-10 row">
                            <div class="form-group">
                                <br>
                                <label for="dniUser" class="col-form-label">Cedula de identidad</label>
                                <input type="text" formControlName="dniUser" class="form-control" id="dniUser">
                                <div class="alert alert-danger mt-1" [hidden]="dniUserEmpty.valid || dniUserEmpty.pristine">
                                    *El formato de la cedula no concuerda, máximo 10 caracteres
                                </div>
                                <label for="nameUser" class="col-form-label">Nombre</label>
                                <input type="text" formControlName="nameUser" class="form-control" id="nameUser">
                                <div class="alert alert-danger mt-1" [hidden]="nameUserEmpty.valid || nameUserEmpty.pristine">
                                    *No se permite caracteres extraños o números<br>
                                    *Longitud máxima de 20 caracteres<br>
                                    *El campo no puede estar vacío
                                </div>
                                <label for="lastNameUser" class="col-form-label">Apellido</label>
                                <input type="text" formControlName="lastNameUser" class="form-control" id="lastNameUser">
                                <div class="alert alert-danger mt-1" [hidden]="lastNameUserEmpty.valid || lastNameUserEmpty.pristine">
                                    *No se permite caracteres extraños o números<br>
                                    *Longitud máxima de 20 caracteres<br>
                                    *El campo no puede estar vacío
                                </div>
                                <label for="userName" class="col-form-label">Nombre de usuario</label>
                                <input type="text" formControlName="userName" class="form-control" id="userName">
                                <div class="alert alert-danger mt-1" [hidden]="userNameEmpty.valid || userNameEmpty.pristine">
                                    *No se permite caracteres extraños o números<br>
                                    *Longitud máxima de 10 caracteres<br>
                                    *El campo no puede estar vacío
                                </div>
                                <label for="userRole" class="col-form-label">Rol del Usuario</label>
                                <select formControlName="userRole" class="form-select" id="userRole">
                                    <option value="Admin">Administrador</option>
                                    <option value="Employee">Empleado</option>
                                </select>
                                <div class="alert alert-danger mt-2" [hidden]="userRoleEmpty.valid || userRoleEmpty.pristine">
                                    <span *ngIf="userRoleEmpty.errors?.['required']">Escoja qué tipo de usuario es.</span>
                                </div>
                                <label for="passwordUser" class="col-form-label">Contraseña</label>
                                <input type="text" formControlName="passwordUser" class="form-control" id="passwordUser">
                                <div class="alert alert-danger mt-1" [hidden]="passwordEmpty.valid || passwordEmpty.pristine">
                                    Upps!
                                    *Las contraseñas pueden tener máximo 15 caracteres<br>
                                    *El campo no puede estar vacío
                                </div>
                                <label for="passwordUserValidator" class="col-form-label">Repetir Contraseña</label>
                                <input type="text" formControlName="passwordUserValidator" class="form-control" id="passwordUserValidator">
                                <div class="alert alert-danger mt-1" [hidden]="passwordValidatorEmpty.valid || passwordValidatorEmpty.pristine">
                                    Upps!
                                    *Las contraseñas pueden tener máximo 15 caracteres<br>
                                    *El campo no puede estar vacío
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" (click)="closeModal('userModal')">Cerrar</button>
                    <button class="btn btn-primary" type="submit" [disabled]="formAddUser.invalid">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal to edit -->
<div class="modal custom-modal" tabindex="-1" id="userModaledit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar usuarios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal('userModaledit')"></button>
            </div>
            <form [formGroup]="formEditUser" (ngSubmit)="editUser('userModaledit')">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-10 row">
                            <div class="form-group">
                                <br>
                                <label for="dniUserEdit" class="col-form-label">Cedula de identidad</label>
                                <input type="text" formControlName="dniUser" class="form-control" id="dniUserEdit">
                                <label for="nameUserEdit" class="col-form-label">Nombre</label>
                                <input type="text" formControlName="nameUser" class="form-control" id="nameUserEdit">
                                <div class="alert alert-danger mt-1" [hidden]="nameUserEmptyE.valid || nameUserEmptyE.pristine">
                                    *No se permite caracteres extraños o números<br>
                                    *Longitud máxima de 20 caracteres<br>
                                    *El campo no puede estar vacío
                                </div>
                                <label for="lastNameUserEdit" class="col-form-label">Apellido</label>
                                <input type="text" formControlName="lastNameUser" class="form-control" id="lastNameUserEdit">
                                <div class="alert alert-danger mt-1" [hidden]="lastNameUserEmptyE.valid || lastNameUserEmptyE.pristine">
                                    *No se permite caracteres extraños o números<br>
                                    *Longitud máxima de 20 caracteres<br>
                                    *El campo no puede estar vacío
                                </div>
                                <label for="userNameEdit" class="col-form-label">Nombre de usuario</label>
                                <input type="text" formControlName="userName" class="form-control" id="userNameEdit">
                                <div class="alert alert-danger mt-1" [hidden]="userNameEmptyE.valid || userNameEmptyE.pristine">
                                    *No se permite caracteres extraños o números<br>
                                    *Longitud máxima de 10 caracteres<br>
                                    *El campo no puede estar vacío
                                </div>
                                <label for="userRoleEdit" class="col-form-label">Rol del Usuario</label>
                                <select formControlName="userRole" class="form-select" id="userRoleEdit">
                                    <option *ngFor="let role of roles" [value]="role.value">{{ role.display }}</option>
                                </select>
                                <div class="alert alert-danger mt-2" [hidden]="userRoleEmpty.valid || userRoleEmpty.pristine">
                                    <span *ngIf="userRoleEmpty.errors?.['required']">Escoja qué tipo de usuario es.</span>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" (click)="closeModal('userModaledit')">Cerrar</button>
                    <button class="btn btn-primary" type="submit" [disabled]="formEditUser.invalid">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
